<div class="contact mt-5">
    <div class="contact-info pt-5">
       <form action="">
        <div class="row">
            <div class="col">
                <label for="exampleFormControlInput1" class="form-label">Your Name</label>
                <input type="text" class="form-control" placeholder="name" aria-label="name">
            </div>
            <div class="col">
                <label for="exampleFormControlInput2" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com">
            </div>
          </div>
          <div class="mb-3 pt-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Your Message"></textarea>
          </div>
          <div class="text-center">
            <button class="btn btn-gold">Send</button>
          </div>
       </form>
    </div>
</div>