<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="../../assets/img/smartmockups_krdnpwgr.jpg" class="card-img-top" alt="project img">
        <div class="card-body">
          <h5 class="card-title">Fcae Academy</h5>
          <p class="card-text">Arabic website to learn programiming</p>
          <!-- Button trigger modal -->
          <div class="w-100 text-center">
            <button type="button" class="btn btn-gold" data-bs-toggle="modal" data-bs-target="#exampleModal">
                More Details
               </button>
          </div>
            <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Fcae Academy</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                         <div class="project-img d-flex">
                             <img src="../../assets/img/feac-academy-mockups.jpg" alt="project-img" width="100%" height="40%">
                         </div>
                         <div class="project-info pt-2">
                          <hr>
                             <h5>Using:</h5>
                             <ul>
                                 <li>HTML</li>
                                 <li>Css</li>
                                 <li>Bootstrap</li>
                                 <li>java script</li>
                                 <li>Resopnsive site</li>
                                 <li>Dark mode (local Storage)</li>

                             </ul>
                           <div class="project-link">
                                <p>Link on Netlify</p>
                                <a href="https://face-academy.netlify.app">https://face-academy.netlify.app/</a>
                           </div>

                         </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../../assets/img/smartmockups_krg7ohgu.jpg" class="card-img-top" alt="project img">
        <div class="card-body">
          <h5 class="card-title">Ymmi Food</h5>
          <p class="card-text">Find Your Best Food </p>
          <!-- Button trigger modal -->
          <div class="w-100 text-center">
            <button type="button" class="btn btn-gold" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                More Details
               </button>
          </div>
            <!-- Modal -->
                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Yummi Food</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                         <div class="project-img d-flex">
                             <img src="../../assets/img/mockups_yummi-food.jpg" alt="project-img" width="100%" height="40%">
                         </div>
                         <div class="project-info pt-2">
                          <hr>
                             <h5>Using:</h5>
                             <ul>
                                 <li>HTML</li>
                                 <li>Css</li>
                                 <li>Bootstrap</li>
                                 <li>Resopnsive site</li>
                             </ul>
                           <div class="project-link">
                                <p>Link on Netlify</p>
                                <a href="https:/yummi-food.netlify.app/">https:/yummi-food.netlify.app/</a>
                           </div>

                         </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
      </div>
    </div>
  </div>